body{
  color:#0D3D57;
  text-align: center;
  background-color: #7FC8A9
}
.up-cloud{
  left: 40%;
  position: relative;
  padding-top: 35px;
}
.down-cloud{
  position: absolute;
  left:60px;
}
h1{
  font-size: 50px;
}
p{
  font-size:20px;
}
